table{
  border-collapse: collapse;
}
#tbl1{
  text-align: right;

}
.cabecera{
  font-size: 12px;
  border: 1px solid black;
  background-color: #009bcf;
  color: white;
  font-weight: bold;
}
.contenido{
  font-size: 12px;
  background-color: white;
  border: 1px solid black;
}
.cabecera1{
  font-size: 12px;
  border: 1px solid black;
  background-color: #d9d8d9;
  color: black;
  font-weight: bold;
}
img{
  height: 50px;
  width: 150px;
}
