<div class="grid">
  <div class="col-2">
    <app-body></app-body>
  </div>
  <div class="col-10">
    <p-fieldset legend="Planificación de Directivos">
      <div class="grid">
        <div class="col">

          <button pButton type="button" icon="pi pi-plus" iconPos="right" style="width: 20%" class="btnPlani" (click)="abrilModal(1)">Vincular Acción Estrategica &nbsp;</button>
          &nbsp;<button pButton type="button" icon="pi pi-calendar-plus" iconPos="left" style="width: 20%" class="btnPlani" *ngIf="estadoValidado" >Generar Ficha &nbsp;</button>
        </div>
      </div>
      <br>
      <div class="grid">
        <div class="col">
          <p-table #dt1 [value]="listaAccionV" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                   [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-datos p-datatable-gridlines"
                   [paginator]="true" currentPageReportTemplate="Mostrando {first} de {last} Total {totalRecords} Registros encontrados"
                   [globalFilterFields]="['numeracion','nomAccEst','indicador','fechaReg']">
            <ng-template pTemplate="caption">
              <div class="p-d-flex">
			      <span class="input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" style="height: 25px" />
            </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    N°
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Accion Estrategica
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Indicador
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Detalle
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Modificar
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-listaAccionV>
              <tr [ngStyle]="{'background-color':listaAccionV.estado==1 ? 'mediumseagreen':'white','color':listaAccionV.estado==1 ? 'white':'black'}">
                <td>
                  {{listaAccionV.numeracion}}
                </td>
                <td>
                  {{listaAccionV.nomAccEst}}
                </td>
                <td>{{listaAccionV.indicador}}</td>
                <td style="text-align: center"><button pButton type="button"  icon="pi pi-eye" [style]="{ 'background-color': 'white'}" iconPos="left" style="width: 50%" class="p-button-raised p-button-text" (click)="abriModalDireccion(listaAccionV.idAccionEstrategica)">&nbsp;</button></td>

               <td><button pButton type="button" icon="pi pi-pencil" iconPos="left" style="width: 50%" class="p-button-danger" (click)="abrilModal(listaAccionV)">&nbsp;</button></td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">No se encontraron registros.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>

<app-registro-AE [estado]="modal"></app-registro-AE>
<app-registro-hito [estadoHito]="modalHito"></app-registro-hito>
<app-lista-direccion [modalDireccion]="modalDireccion"></app-lista-direccion>
