<p-dialog header="Completar Registro" [closable]="false" [(visible)]="completarRegistroModal" position="center"  [breakpoints]="{'1800px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <ng-template pTemplate="Productos">
    <p-fieldset legend="Completar Registor">
      <div class="grid">
        <div class="col-2">Actividad Operativa:</div>
        <div class="col-10">
          <input type="text" class="inputfield" style="height: 30px; width: 100%;" [(ngModel)]="actividadOperativa" [disabled]="true">
        </div>

        <div class="col-2">Objetivo:</div>
        <div class="col-10">
          <input type="text" class="inputfield" style="height: 30px; width: 100%;" [(ngModel)]="objetivo" [disabled]="true">
        </div>
        <div class="col-2">Producto:</div>
        <div class="col-10">
          <input type="text" class="inputfield" style="height: 30px; width: 100%;" [(ngModel)]="producto"  [disabled]="true">
        </div>

      </div>
      <p-fieldset legend="Programación">
        <div class="grid">
          <div class="col-1">

            <p-checkbox name="groupname"  label="Ene" value="val1" [(ngModel)]="chkEne" (onChange)="cambiarEstado(1)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname" label="Feb" value="val1" [(ngModel)]="chkFeb" (onChange)="cambiarEstado(2)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname"  label="Mar" value="val1" [(ngModel)]="chkMar" (onChange)="cambiarEstado(3)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname"  label="Abr" value="val1" [(ngModel)]="chkAbr" (onChange)="cambiarEstado(4)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname" label="May" value="val1" [(ngModel)]="chkMay" (onChange)="cambiarEstado(5)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname"  label="Jun" value="val1" [(ngModel)]="chkJun" (onChange)="cambiarEstado(6)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname"  label="Jul" value="val1" [(ngModel)]="chkJul" (onChange)="cambiarEstado(7)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname"  label="Ago" value="val1" [(ngModel)]="chkAgo" (onChange)="cambiarEstado(8)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname" label="Set" value="val1" [(ngModel)]="chkSet" (onChange)="cambiarEstado(9)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname"  label="Oct" value="val1" [(ngModel)]="chkOct" (onChange)="cambiarEstado(10)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname" label="Nov" value="val1" [(ngModel)]="chkNov" (onChange)="cambiarEstado(11)"></p-checkbox>
          </div>
          <div class="col-1">
            <p-checkbox name="groupname" label="Dic" value="val1" [(ngModel)]="chkDic" (onChange)="cambiarEstado(12)"></p-checkbox>
          </div>
        </div>
        <div class="field grid">
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtEne" [(ngModel)]="valEne" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;"  [disabled]="txtFeb" [(ngModel)]="valFeb" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtMar" [(ngModel)]="valMar" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtAbr" [(ngModel)]="valAbr" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtMay" [(ngModel)]="valMay" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtJun" [(ngModel)]="valJun" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtJul" [(ngModel)]="valJul" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtAgo" [(ngModel)]="valAgo" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtSet" [(ngModel)]="valSet" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtOct" [(ngModel)]="valOct" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtNov" [(ngModel)]="valNov" (keypress)="validarNumero($event)">
          </div>
          <div class="col-1">
            <input type="text" class="inputfield" style="height: 30px; width: 50px;" [disabled]="txtDic"  [(ngModel)]="valDic" (keypress)="validarNumero($event)">
          </div>
        </div>
      </p-fieldset>
    </p-fieldset>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton type="button" icon="pi pi-calendar-plus" iconPos="left" style="width: 20%" class="btnPlani" (click)="guardar()">Guardar&nbsp;</button>
    <button pButton type="button" icon="pi pi-times" iconPos="left" style="width: 20%" class="p-button-danger" (click)="cancelar()">Cancelar&nbsp;</button>
  </ng-template>
</p-dialog>
<p-toast key="mensaje"></p-toast>


