<div class="grid">
  <div class="col-2">
    <app-body></app-body>
  </div>
  <div class="col-10">
    <p-fieldset legend="Modulo de planificacion de acciones e iniciativas de mejora">
      <div class="grid">
        <div class="col-4">
          <a href="#" routerLink="../informeAuditoria" class="btnHome">
            <div class="bg-blue-300 hover:bg-blue-400 text-white font-bold m-2 flex align-items-center justify-content-center" style="min-width: 200px; min-height: 100px">
              Informes de Control &nbsp;<i class="pi pi-file " style="font-size: 3rem"></i>
            </div>
          </a>
        </div>
        <div class="col-4">
          <a href="#" routerLink="../controlInterno" class="btnHome">
            <div class="bg-blue-300 hover:bg-blue-400 text-white font-bold m-2 flex align-items-center justify-content-center" style="min-width: 200px; min-height: 100px">
              Implementación del Sistema de Control Interno &nbsp;<i class="pi pi-list " style="font-size: 3rem"></i>
            </div>
          </a>
        </div>
        <div class="col-4">
          <a href="#" routerLink="../accionIniciativa" class="btnHome">
            <div class="bg-blue-300 hover:bg-blue-400 text-white font-bold m-2 flex align-items-center justify-content-center" style="min-width: 200px; min-height: 100px">
              Planificación de Acciones e Iniciativas &nbsp;<i class="pi pi-copy " style="font-size: 3rem"></i>
            </div>
          </a>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
