<p-dialog header="Conformación de Equipos de trabajo" [(visible)]="modalConformacionEquipo" position="center" [closable]="false"  [breakpoints]="{'1800px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}">
  <ng-template pTemplate="Conformación de Equipos de trabajo">
    <div class="field grid">
      <br>
      <div class="grid">
        <div class="col-4">
          <label  class="col"  style="height: 30px; width:100%" >Accion / Iniciativa</label>
        </div>
        <div class="col-6">
          <input id="codigo2" type="text" class="inputfield" style="height: 30px; width:100%" [disabled]="true">
        </div>
        <div class="col-2"></div>
        <div class="col-4" style="margin-top: 10px;">
          <label  class="col"  style="height: 30px; width:100%" >Unidad</label>
        </div>
        <div class="col-6">
          <input id="codigo1" type="text" class="inputfield" [disabled]="true" style="height: 30px; width:100%; margin-top: 10px">
        </div>

        <div class="col-2"></div>
        <div class="col-4" style="margin-top: 10px;">
          <label class="col"  style="height: 30px; width:100%" >Organo</label>
        </div>
        <div class="col-6" style="margin-top: 10px">
          <select  class="inputfield w-full" style="appearance: auto; height: 30px;" [(ngModel)]="idOrgano">
            <option value="0">Seleccionar</option>
            <option value="{{lista.id}}" *ngFor="let lista of listaOrgano">{{lista.nombre}}</option>
          </select>
        </div>
        <div class="col-4" style="margin-top: 10px;">
          <label  class="col"  style="height: 30px; width:100%" >Medio de Verificación</label>
        </div>
        <div class="col-6" style="margin-top: 10px">
          <select class="inputfield w-full" style="appearance: auto; height: 30px;" [(ngModel)]="medioVerificacion">
            <option value="0">Seleccionar</option>
            <option value="{{doc.idTipoDocumento}}" *ngFor="let doc of listDocumento">{{doc.nombreDocumento}}</option>
          </select>
        </div>
        <div class="col-2"></div>
        <div class="col-4" style="margin-top: 10px;">
          <label  class="col"  style="height: 30px; width:100%" >Fecha Inicio</label>
        </div>
        <div class="col-8" style="margin-top: 10px">
          <p-calendar  [showIcon]="true" (keypress)="validarFecha($event)" ></p-calendar>
        </div>
        <div class="col-4" style="margin-top: 10px;">
          <label class="col"  style="height: 30px; width:100%" >Fecha Fin</label>
        </div>
        <div class="col-8" style="margin-top: 10px">
          <p-calendar  [showIcon]="true" (keypress)="validarFecha($event)" ></p-calendar>
        </div>
      </div>
    </div>

      <p-fieldset legend="Conformación de Equipo">
        <div class="field grid">
          <div class="col-6">
            <div class="grid">
              <div class="col-4" style="margin-top: 10px;">
                <label class="col"  style="height: 30px; width:100%" >Organo</label>
              </div>
              <div class="col-6" style="margin-top: 10px">
                <select  class="inputfield w-full" style="appearance: auto; height: 30px;" [(ngModel)]="idUnidadEquipo">
                  <option value="0">Seleccionar</option>
                  <option value="{{lista.id}}" *ngFor="let lista of listaOrgano">{{lista.nombre}}</option>
                </select>
              </div>
              <div class="col-2"></div>
              <div class="col-4" style="margin-top: 10px;">
                <label  class="col"  style="height: 30px; width:100%" >Servidor</label>
              </div>
              <div class="col-6" style="margin-top: 10px">
                <select id="state8" class="inputfield w-full" style="appearance: auto; height: 30px;" >
                  <option value="0">Seleccionar</option>
                </select>
              </div>
              <div class="col-2"></div>
              <div class="col-4" style="margin-top: 10px;">
                <label  class="col"  style="height: 30px; width:100%" >Rol</label>
              </div>
              <div class="col-6" style="margin-top: 10px">
                <select id="state9" class="inputfield w-full" style="appearance: auto; height: 30px;" >
                  <option value="0">Seleccionar</option>
                </select>
              </div>
              <div class="col-2"></div>
              <div class="col-4" style="margin-top: 10px">
                <label class="col"  style="height: 30px; width:100%" >Contribución</label>
              </div>
              <div class="col-6" style="margin-top: 10px">
                <input id="codigo" type="text" class="inputfield" style="height: 30px; width:100%" [disabled]="true">
              </div>
              <div class="col-2"></div>
            </div>

          </div>
          <div class="col-6">
            <p-table #dt1 [value]="listaEquipo" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
                     [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
                     [paginator]="true" currentPageReportTemplate="Mostrando {first} de {last} Total {totalRecords} Registros encontrados"
                     [globalFilterFields]="['usuario','fechaInicio','fechaFin','fechaReg']">
              <ng-template pTemplate="caption">
                <div class="p-d-flex">
			      <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" style="height: 25px"/>
            </span>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                      N°
                    </div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Unidad
                    </div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Servidor
                    </div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Cargo
                    </div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Rol
                    </div>
                  </th>
                  <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                      Contribución
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-datos>
                <tr>
                  <td style="font-size: 12px">{{datos.numeracion}}</td>
                  <td style="font-size: 12px">
                    {{datos.nombre_responsable}}
                  </td>
                  <td style="font-size: 12px">
                    {{datos.nombre}}
                  </td>
                  <td>
                    <p-checkbox name="groupname" [(ngModel)]="datos.estado" [binary]="true" (click)="dato(datos.id_responsable)" ></p-checkbox>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="7">No se encontraron resultados</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-fieldset>

  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton type="button" icon="pi pi-save" iconPos="left" style="width: 20%" class="btnPlani" >Guardar&nbsp;</button>
    <button pButton type="button" icon="pi pi-times" iconPos="left" style="width: 20%" class="p-button-danger" (click)="cancelar()">Cancelar&nbsp;</button>
  </ng-template>
</p-dialog>

<p-toast key="mensaje"></p-toast>

