<div class="grid">
  <div class="col-2">
    <app-body></app-body>
  </div>
  <div class="col-10">
    <p-fieldset legend="Planificación de Acciones e Iniciativas de mejora">
      <div class="grid">
        <div class="col">

          <button pButton type="button" icon="pi pi-plus" iconPos="right" style="width: 20%" class="btnPlani" (click)="abrilModalRegistro()" >Agregar Registro &nbsp;</button>
          &nbsp;<button pButton type="button" icon="pi pi-list" iconPos="right" style="width: 20%" class="btnPlani" (click)="generarInventario()" >Generar Inventario &nbsp;</button>

        </div>
      </div>
      <br>
      <div class="grid">
        <div class="col">
          <p-table #dt1 [value]="listaAccion" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                   [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-datos p-datatable-gridlines"
                   [paginator]="true" currentPageReportTemplate="Mostrando {first} de {last} Total {totalRecords} Registros encontrados"
                   [globalFilterFields]="['numeracion','nomAccEst','indicador','fechaReg']">
            <ng-template pTemplate="caption">
              <div class="p-d-flex">
			      <span class="input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar" style="height: 25px" />
            </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    N°
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Acción/Inciativa
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Organo
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Medio de Verificación
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Tipo
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Proceso
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Fecha Inicio
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Fecha Fin
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Completar Registro
                  </div>
                </th>
                <th>
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Conformacion de Equipos
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-datos>
              <tr>
                <td>
                  {{datos.numeracion}}
                </td>
                <td>
                  {{datos.descripcion}}
                </td>
                <td>{{datos.nomUnidad}}</td>
                <td>
                  {{datos.medioVerificacion}}
                </td>
                <td> {{datos.tipoProceso}}</td>
                <td> {{datos.tipoPrioritario}}</td>
                <td> {{datos.fecInicio}}</td>
                <td> {{datos.fecFin}}</td>
                <td style="text-align: center" ><button pButton *ngIf="datos.medioVerificacion==null" type="button" icon="pi pi-book" iconPos="left" style="width: 50%" class="p-button-raised p-button-text" (click)="abrilModalCompletarRegistro(datos)" >&nbsp;</button></td>

                <td style="text-align: center"><button pButton type="button" icon="pi pi-users" iconPos="left" style="width: 50%" class="p-button-raised p-button-text" *ngIf="datos.flagEstado!=1" (click)="abrirModalEquipos(datos)">&nbsp;</button></td>


              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">No se encontraron registros.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
<app-conpletar-registro [modalCompletarRegistro]="modalCompletarRegistro"></app-conpletar-registro>
<app-agregar-registro [modalAgregar]="modalAgregar"></app-agregar-registro>
<app-conformacion-equipo [modalConformacionEquipo]="modalConformacionEquipo"></app-conformacion-equipo>
